DS/Stack/.vscode/settings.json
.idea/Data-Structer-and-Algorithms.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
DS/LinkedList/__pycache__/doubly_linkedlist.cpython-310.pyc
